[Unit]
Description=dnsmasq DHCP/PXE/TFTP server
Wants=docker.service
After=docker.service
ConditionPathExists=/opt/racker-state/dnsmasq-service
[Service]
Type=simple
Restart=always
RestartSec=5s
TimeoutStartSec=0
EnvironmentFile=/opt/racker-state/dnsmasq-service
ExecStartPre=-docker rm -f dnsmasq
ExecStartPre=docker run --name dnsmasq -d --cap-add=NET_ADMIN -v /opt/racker-state/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf:Z --net=host quay.io/coreos/dnsmasq:v0.5.0 -d
ExecStart=docker logs -f dnsmasq
ExecStop=docker stop dnsmasq
ExecStopPost=docker rm dnsmasq
[Install]
WantedBy=multi-user.target
