[Unit]
Description=matchbox server for PXE images and Ignition configuration
Wants=docker.service
After=docker.service
ConditionPathExists=/opt/racker-state/matchbox-service
[Service]
Type=simple
Restart=always
RestartSec=5s
TimeoutStartSec=0
EnvironmentFile=/opt/racker-state/matchbox-service
ExecStartPre=-docker rm -f matchbox
ExecStartPre=docker run --name matchbox -d --net=host -v /opt/racker-state/matchbox/certs:/etc/matchbox:Z -v /opt/racker-state/matchbox/assets:/var/lib/matchbox/assets:Z -v /opt/racker-state/matchbox:/var/lib/matchbox -v /opt/racker-state/matchbox/groups:/var/lib/matchbox/groups quay.io/coreos/matchbox:v0.7.0 -address=${MATCHBOX_IP_ADDR}:8080 -log-level=debug -rpc-address=${MATCHBOX_IP_ADDR}:8081
ExecStart=docker logs -f matchbox
ExecStop=docker stop matchbox
ExecStopPost=docker rm matchbox
[Install]
WantedBy=multi-user.target
